/.vagrant
/static
*.pyc
/media
/Vagrantfile.local
erratatool/settings/local.py
*.log
/.idea
/htmlcov
/.coverage
.DS_STORE
__pycache__/*
*/__pycache__/*
*.bk
db.sqlite3
erratatool/static/*
errata/__pycache__/models.cpython-37.pyc
errata/__pycache__/models.cpython-37.pyc
